@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
section,
div {
	transition: color 0.2s ease;
	transition: background-color 0.2s ease;
}

section {
	scroll-margin-top: 80px;
}

:root {
	--swiper-pagination-bullet-size: 11px;
	--swiper-pagination-bullet-inactive-color: #270875;
	--swiper-pagination-bullet-inactive-opacity: 0.5;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-horizontal-gap: 4px;
	--swiper-pagination-bullet-vertical-gap: 6px;
}

@layer components {
	.container {
		@apply max-w-[1296px] mx-auto px-4;
	}

	h2 {
		@apply text-8xl tracking-widest font-semibold dark:text-white max-[450px]:text-6xl max-[625px]:text-7xl text-black;
	}

	h3 {
		@apply text-5xl tracking-widest font-semibold dark:text-white text-primary max-[500px]:text-4xl;
	}
}
